OPENAI_API_KEY=asdfasdf
OPENAI_BASE_URL=http://192.168.31.98:8526/v1
PGVECTOR_CONNECTION_STRING="postgresql+psycopg2://postgres:huyhuyhuy12@192.168.31.98:8528/w4_aws"
OPENAI_MODEL_IDENTIFIER="google/gemma-4-e4b"
